[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "simontuk.github.io"]
	path = simontuk.github.io
	url = git@github.com:Simontuk/simontuk.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:Simontuk/simontuk.github.io.git
	branch = master
